/* Write your CSS here */
.container {
  background-color: #ffc2a0;
  background-size: cover;
  padding: 40px;
}

.todo-container {
  background-color: #ffffff;
  border-radius: 20px;
}
h1 {
  color: #ff8542;
  text-align: center;
  padding-top: 30px;
}
